.MainNavBar {
    transition: top .8s ease;
    background: linear-gradient(rgba(12, 12, 12, .99), rgba(0, 0, 0, .97));
    padding: 10px;
    color: white;
    box-shadow: -2px -2px 4px 0 rgb(44 44 44 / 80%), 2px 2px 4px 0 rgb(0 0 0 / 70%) !important;
}

.MainNavBar .MainBg {
    padding: 15px;
}